body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.section-header {
    background-color: #008073;
    color: #fff;
    padding: 25px;
    font-size: 44px;
    font-weight: normal;
    text-transform: uppercase;
}

.clearfix {
    clear: both;
}

.active {
    font-weight: bold;
}

aside {
    position: fixed;
    height: 100%;
    width: 250px;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 2px 5px #b4b2b2;
    background-color: #fff;
    z-index: 3;
    .fa-times {
        float: right;
        padding: 10px;
        cursor: pointer;
    }
    .info {
        text-align: center;
        padding: 35px 10px;
        p {
            text-transform: capitalize;
            color: #008073;
            font-size: 32px;
            font-weight: 200;
            line-height: 32px;
            margin-bottom: 5px;
        }
        span {
            color: #795548;
        }
    }
    hr {
        margin: 0;
    }
    .list-unstyled {
        padding: 10px 0 20px;
        li {
            padding: 13px;
            text-transform: capitalize;
            font-size: 18px;
            line-height: 18px;
            transition: all 0.2s ease-in-out;
            &:hover{
                background-color: #e4e4e4;
                border-left: 3px solid;
            }
            a {
                color: #333;
                &:hover {
                    text-decoration: none;
                }
                i {
                    margin-right: 5px;
                }
            }
        }
    }
}

.showSideBar {
    left: 0px;
}
.content-area {
    float: right;
    width: 100%;
    transition: all 0.3s ease-in-out;
    background-color: #FAFAFA;
    .intro {
        background-image: url('../images/IMG-20200308-WA0012.jpg');
        background-size: cover;
        position: relative;
        .mdinfo {
            background-color: white;
            z-index: 2;
            position: fixed;
            padding: 8px 10px;
            text-align: center;
            width: 100%;
            .toggle {
                float: right;
                font-size: 28px;
                line-height: 31px;
                cursor: pointer;
            }
            p {
                text-transform: capitalize;
                color: #008073;
                font-size: 22px;
                font-weight: 200;
                line-height: 22px;
                margin-bottom: 5px;
            }
            span {
                color: #795548;
                font-size: 14px;
            }
        }
        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }
        h1 {
            color: #fff;
            text-transform: capitalize;
            font-size: 53px;
            padding: 40px;
            text-shadow: 5px 5px 10px black;
            span {
                background-color: #008073;
                padding: 5px;
            }
        }
    }
    .abouts {
        blockquote {
            margin: 32px 40px;
            color: #795548;
            font-weight: 400;
            padding: 20px;
            border-left: 5px solid #795548;
            h2 {
                font-size: 32px;
            }
        }
        p {
            font-size: 25px;
            line-height: 42px;
            color: #333;
            margin: 32px 40px;
        }
    }
    .experiences {
        padding-bottom: 60px;
        .card {
                width: 100%;
                margin: 40px auto 0;
                box-shadow: -3px 4px 5px #d5d5d5;
            .card-header {
                padding: 0 30px;
                background-color: #FFF;
                .image {
                    max-width: 140px;
                    max-height: 100px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .link {
                    font-size: 24px;
                    line-height: 100px;
                    color: #008073;
                }
            }
            .title, .position-title {
                font-size: 19px;
                line-height: 100px;
                color: #795548;
                font-weight: 600;
                text-align: right;
            }
            .position-title {
                line-height: 20px;
                text-align: left;
            }
            .card-body {
                p {
                    font-size: 17px;
                    color: #666;
                    font-style: italic;
                }
                h6 {
                    color: #333;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                    margin-top: 20px;
                }
                ul {
                    padding: 0 0 0 30px;
                    line-height: 35px;
                }
            }
        }
    }
    .projects {
        .row {
            padding: 30px;
            .card {
                height: 370px;
                margin-top: 20px;
                margin-bottom: 20px;
                position: relative;
                box-shadow: -4px 5px 7px #efefef;
                .card-image {
                    height: 230px;
                    cursor: pointer;
                    img {
                        height: 100%;
                    }
                }
                .card-title {
                    color: #008073;
                    text-transform: uppercase;
                    font-size: 24px;
                    cursor: pointer;
                    .fa-ellipsis-v {
                        float: right;
                        cursor:pointer;
                        font-size: 16px;
                        line-height: 27px
                    }
                }
                .card-info {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: #FFF;
                    width: 100%;
                    height: 100%;
                    display: none;
                    h3 {
                        padding: 25px;
                        font-size: 24px;
                        text-transform: capitalize;
                        color: #795548;
                        i {
                            float: right;
                            cursor: pointer;
                        }
                    }
                    ul {
                        li {
                            text-transform: capitalize;
                            font-size: 18px;
                            line-height: 35px;
                            color: #333;
                        }
                    }
                    .views {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        padding: 10px;
                        a {
                            font-size: 23px;
                            background-color: #8a5a48;
                            color: #fff;
                            border-radius: 50%;
                            margin-right: 10px;
                            width: 50px;
                            height: 50px;
                            display: inline-block;
                            text-align: center;
                            line-height: 50px;
                        }
                    }
                }
            }
        }
    }
    .skills {
        .card {
            margin: 50px;
            box-shadow: -4px 5px 7px #efefef;
            .responsive-img {
                margin: 0 auto;
                max-height: 100px;
                padding-bottom: 10px;
                text-align: center;
                vertical-align: middle;
                display: table-cell;
            }
            .card-title {
                font-size: 34px;
                color: #795548;
                border-bottom: 1px solid #d4d4d4;
                padding: 20px 0;
            }
            .row {
                padding: 20px 0;
            }
        }
    }
    .awards {
        .card {
            margin: 35px 10px;
            .card-title {
                font-size: 25px;
                text-transform: uppercase;
                color: #008073;
            }
            .card-text {
                color: #795548;
                text-transform: capitalize;
                font-weight: 600;
                letter-spacing: 1px;
            }
            ul {
                padding-left: 20px;
                li {
                    text-transform: capitalize;
                    color: #333;
                    line-height: 32px;
                }
            }
        }
    }
    .educations {
        .card {
            margin: 35px 10px;
            .card-title {
                font-size: 25px;
                text-transform: uppercase;
                color: #008073;
            }
            .card-text {
                color: #795548;
                text-transform: capitalize;
                font-weight: 600;
                letter-spacing: 1px;
            }
            ul {
                padding-left: 20px;
                li {
                    text-transform: capitalize;
                    color: #333;
                    line-height: 32px;
                }
            }
        }
    }
    .contacts {
        p {
            .icon {
                font-size: 23px;
                background-color: #8a5a48;
                color: #fff;
                border-radius: 50%;
                margin-right: 10px;
                width: 50px;
                height: 50px;
                display: inline-block;
                text-align: center;
                line-height: 50px;
            }
        }
    }
    .toTop {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 15px;
        padding: 5px 10px;
        font-size: 20px;
        border: 1px solid #b7b5b5;
        outline: none;
        color: #888;
        display: none;
    }
}

/* media query */
@media (max-width: 575px) {
    .intro {
        h1 {
            margin-top: 150px;
            font-size: 30px !important;
        }
    }
    .abouts {
        blockquote {
            h2 {
                font-size: 23px !important;
            }
        }
        p {
            font-size: 20px !important;
            line-height: 35px !important;
        }
    }
    .skills {
        .card {
            margin: 50px 10px !important;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .intro {
        h1 {
            margin-top: 67px;
            font-size: 40px !important;
        }
    }
    .experiences {
        .experience-container {
            max-width: 700px;
        }
    }
    .skills {
        .container {
            max-width: 720px;
            .card {
                margin: 50px 20px;
            }
        }
    }
    .awards {
        .container {
            max-width: 720px;
            .card {
                .card-title {
                    font-size: 22px;
                }
                .card-text {
                    font-size: 15px;
                }
                ul {
                    li {
                        font-size: 15px;
                        line-height: 25px;
                    }
                }
            }
        }
    }
    .educations {
        .container {
            max-width: 720px;
            .card {
                .card-title {
                    font-size: 22px;
                }
                .card-text {
                    font-size: 15px;
                }
                ul {
                    li {
                        font-size: 15px;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .intro {
        h1 {
            margin-top: 67px;
            font-size: 40px !important;
        }
    }
    .experiences {
        .experience-container {
            max-width: 800px;
        }
    }
    .projects {
        .container {
            max-width: 900px;
        }
    }
    .skills {
        .container {
            max-width: 900px;
        }
    }
    .awards {
        .container {
            max-width: 900px;
        }
    }
    .educations {
        .container {
            max-width: 900px;
        }
    }
}

// medium devices (992px)
@media (min-width: 992px) and (max-width: 1199px) {
    .intro {
        h1 {
            margin-top: 0;
            font-size: 53px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .content-area {
        width: calc(100% - 250px);
        .experiences {
            .card {
                width: 80%;
                margin: 60px auto 0;
            }
        }
    }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

//all devices without large screen
@media (min-width: 0px) and (max-width : 991px) {
    aside {
        left: -250px;
    }
}