body {
    box-sizing: border-box;
    height: 5000px;
    font-family: 'Roboto', sans-serif;
}

aside {
    position: fixed;
    height: 100%;
    width: 250px;
    transition: all 0.3s ease-in-out;
    .info {
        text-align: center;
        padding: 35px 10px;
        p {
            text-transform: capitalize;
            color: #008073;
            font-size: 32px;
            font-weight: 200;
            line-height: 32px;
            margin-bottom: 5px;
        }
        span {
            color: #795548;
        }
    }
    hr {
        margin: 0;
    }
    .list-unstyled {
        padding: 10px 0 20px;
        li {
            padding: 13px;
            text-transform: capitalize;
            font-size: 18px;
            line-height: 18px;
            transition: all 0.2s ease-in-out;
            &:hover{
                background-color: #e4e4e4;
                border-left: 3px solid;
            }
            a {
                color: #333;
                &:hover {
                    text-decoration: none;
                }
                i {
                    margin-right: 5px;
                }
            }
        }
    }
}

.noSideBar {
    left: -250px;
}
.content-area {
    width: calc(100% - 250px);
    float: right;
    transition: all 0.3s ease-in-out;
    &.noSideBar{
        width: 100%;
    }
    .intro {
        background-image: url('../../dist/images/IMG-20200308-WA0012.jpg');
        background-size: cover;
        position: relative;
        .mdinfo {
            background-color: white;
            z-index: 2;
            position: relative;
            padding: 8px 10px;
            text-align: center;
            .toggle {
                float: left;
                font-size: 28px;
                line-height: 31px;
                cursor: pointer;
            }
            p {
                text-transform: capitalize;
                color: #008073;
                font-size: 22px;
                font-weight: 200;
                line-height: 22px;
                margin-bottom: 5px;
            }
            span {
                color: #795548;
                font-size: 14px;
            }
        }
        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }
        h1 {
            color: #fff;
            text-transform: capitalize;
            font-size: 53px;
            padding: 40px;
            text-shadow: 5px 5px 10px black;
            span {
                background-color: #008073;
                padding: 5px;
            }
        }
    }
}

/* media query */
@media (max-width: 575px) {
    .intro {
        h1 {
            margin-top: 67px;
            font-size: 30px !important;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .intro {
        h1 {
            margin-top: 67px;
            font-size: 40px !important;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .intro {
        h1 {
            margin-top: 67px;
            font-size: 40px !important;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199) {
    .intro {
        h1 {
            margin-top: 0;
            font-size: 53px;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}