doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Abdelrahman Fawzy Portfolio
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap")
        link(rel="stylesheet", href="css/all.min.css")
        link(rel="stylesheet", href="css/style.css")
    body
        aside
            .info
                p abdelrahman fawzy
                span MERN Stack Developer
            hr
            ul.list-unstyled
                li(style="border-left-color:#008073;")
                    a(href="#") 
                        i(class="fas fa-user" style="color:#008073;")
                        | about 
                li(style="border-left-color:#00BCD4;")
                    a(href="#") 
                        i(class="fas fa-chart-line" style="color:#00BCD4")
                        | experience
                li(style="border-left-color:#3F51B5;")
                    a(href="#") 
                        i(class="fas fa-tasks" style="color:#3F51B5")
                        | projects
                li(style="border-left-color:#9C27B0;")
                    a(href="#") 
                        i(class="fas fa-chart-bar" style="color:#9C27B0")
                        | skills
                li(style="border-left-color:#F44336;")
                    a(href="#") 
                        i(class="fas fa-award" style="color:#F44336")
                        | awards
                li(style="border-left-color:#FF9800;")
                    a(href="#") 
                        i(class="fas fa-graduation-cap" style="color:#FF9800")
                        | education
                li(style="border-left-color:#795548;")
                    a(href="#") 
                        i(class="fas fa-envelope" style="color:#795548")
                        | contact
                li(style="border-left-color:#424242;")
                    a(href="#") 
                        i(class="fas fa-file" style="color:#424242")
                        | resume
        script(src="js/jquery-3.5.1.min.js")
        script(src="js/bootstrap.min.js")