doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(content='width=device-width, initial-scale=1' name='viewport')
        title Abdelrahman Fawzy Portfolio
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap")
        link(rel="stylesheet", href="css/all.min.css")
        link(rel="stylesheet", href="css/style.css")
    body
        aside
            .info(class="d-none d-lg-block")
                p abdelrahman fawzy
                span MERN Stack Developer
            hr(class="d-none d-lg-block")
            ul.list-unstyled
                li(style="border-left-color:#008073;")
                    a(href="#" class='abouts') 
                        i(class="fas fa-user" style="color:#008073;")
                        | about 
                li(style="border-left-color:#00BCD4;")
                    a(href="#" class="experiences") 
                        i(class="fas fa-chart-line" style="color:#00BCD4")
                        | experience
                li(style="border-left-color:#3F51B5;")
                    a(href="#" class="projects") 
                        i(class="fas fa-tasks" style="color:#3F51B5")
                        | projects
                li(style="border-left-color:#9C27B0;")
                    a(href="#" class='skills') 
                        i(class="fas fa-chart-bar" style="color:#9C27B0")
                        | skills
                li(style="border-left-color:#F44336;")
                    a(href="#" class='awards') 
                        i(class="fas fa-award" style="color:#F44336")
                        | awards
                li(style="border-left-color:#FF9800;")
                    a(href="#" class='educations') 
                        i(class="fas fa-graduation-cap" style="color:#FF9800")
                        | education
                li(style="border-left-color:#795548;")
                    a(href="#" class='contacts') 
                        i(class="fas fa-envelope" style="color:#795548")
                        | contact
                li(style="border-left-color:#424242;")
                    a(href="images/Abdelrahman_Mohamed_Fawzy_CV.pdf" target="_blank") 
                        i(class="fas fa-file" style="color:#424242")
                        | resume
        .content-area
            .intro
                //- (class="d-block d-lg-none")
                .mdinfo(class="d-block d-lg-none")
                    i(class="fas fa-toggle-off toggle")
                    p abdelrahman fawzy
                    span MERN Stack Developer
                .overlay 
                    .container 
                        h1 i want to 
                            span make things
                            br 
                            |that make a difference
            .abouts
                .section-header about
                blockquote 
                    h2 Mission-driven full stack developer with a passion for thoughtful UI design, collaboration, and teaching.
                p I’ve always sought out opportunities and challenges that are meaningful to me. Although my professional path has taken many twists and turns — from touring and recording artist, to employee of the year at a non-profit, to dean's scholar at UPenn, to small business owner and entrepreneur — I've never stopped engaging my passion to help others and solve problems.
                p As a web developer, I enjoy using my obsessive attention to detail, my unequivocal love for making things, and my mission-driven work ethic to literally change the world. That's why I’m excited to make a big impact at a high growth company.
            .experiences
                .section-header experiences
                .container.experience-container
                    .card
                        .card-header
                            .row
                                .col-lg-2.col-6.image
                                    img(src="images/we.png", alt="WE logo", class="responsive-img center-block")
                                .col-lg-4.col-6.text-center
                                    a(href="#" class="link") Telecom Egypt ( WE )
                                .col-lg-6(class="d-none d-lg-block title") Technical Support
                        .card-body
                            h3(class="position-title d-block d-lg-none") Technical Support
                            p Handle customer complaints, provide appropriate solutions and alternatives within the time limits; follow up to ensure resolution. Keep records of customer interactions. Follow communication procedures, guidelines and policies.
                        .card-footer.text-muted
                            | FEB 2021 – Present
                    .card
                        .card-header
                            .row
                                .col-lg-2.col-6.image
                                    img(src="images/Sign-Tech-Talk.jpg", alt="sign tech logo", class="responsive-img center-block")
                                .col-lg-4.col-6.text-center
                                    a(href="#" class="link") Sign Tech Talk
                                .col-lg-6(class="d-none d-lg-block title") Full Stack Web Developer
                        .card-body
                            h3(class="position-title d-block d-lg-none") Full Stack Web Developer
                            p Developing and designing a special web application to help people with special needs
                            h6 develop product
                            ul
                                li creating the API using node js and mongo db
                                li using this API to render data in the front end using vue js
                        .card-footer.text-muted
                            | Jul 2018 – Jul 2019
                    .card
                        .card-header
                            .row
                                .col-lg-2.col-6.image
                                    img(src="images/SPE SU SC.png", alt="spe logo", class="responsive-img center-block")
                                .col-lg-4.col-6.text-center
                                    a(href="#" class="link") SPE
                                .col-lg-6(class="d-none d-lg-block title") IT Committe head
                        .card-body
                            h3(class="position-title d-block d-lg-none") IT Committe head
                            p The establishment of the Information Technology Department and the creation of the chapter's website, so that members can follow up everything new and know the history of the chapter
                            h6 develop product
                            ul
                                li creating the first website for SPE Suez
                                li creating IT committee
                                li Developing the level of committee members
                        .card-footer.text-muted
                            | Jul 2018 – Jul 2019
                    .card
                        .card-header
                            .row
                                .col-lg-2.col-6.image
                                    img(src="images/SPE SU SC.png", alt="spe logo", class="responsive-img center-block")
                                .col-lg-4.col-6.text-center
                                    a(href="#" class="link") SPE
                                .col-lg-6(class="d-none d-lg-block title") Technical Trainer
                        .card-body
                            h3(class="position-title d-block d-lg-none") Technical Trainer
                            p training my team in front end web development
                            h6 accomplishments
                            p my team was divided into 3 parts : beginner, intermediate and advanced
                            ul
                                li beginner team was trained from the scratch with HTML, CSS
                                li intermediate team was trained on javaScript programming language
                                li advanced team was trained on template engine and pre processors
                        .card-footer.text-muted
                            | Aug 2019 – May 2020
                    .card
                        .card-header
                            .row
                                .col-lg-2.col-6.image
                                    img(src="images/aapg.png", alt="spe logo", class="responsive-img center-block")
                                .col-lg-4.col-6.text-center
                                    a(href="#" class="link") AAPG 
                                .col-lg-6(class="d-none d-lg-block title") IT Member 
                        .card-body
                            h3(class="position-title d-block d-lg-none") IT Member
                            p here i was it member, my role was receiving task and create it
                        .card-footer.text-muted
                            | Feb 2017 - May 2018
            .projects
                .section-header projects
                .container
                    .row
                        .col-lg-4.col-md-6.col-12
                            .card
                                .card-image(data-value="axit")
                                    img.card-img-top(class="img-fluid" src='images/axit.PNG' alt='axitSite')
                                .card-body
                                    h5.card-title(data-value="axit") axit
                                        i.fas.fa-ellipsis-v
                                    p.card-text
                                    | PSD to HTML to training in bootstrap v3
                                    .card-info.card-info-axit
                                        h3 accomplishments
                                            i.fas.fa-times
                                        ul
                                            li Bootstrap 3 in responsive design
                                            li jQuery in plugins
                                            li css for design
                                        .views
                                            a(href='https://axitdesignbootstrap.netlify.app/' target="_blank")
                                                i.fas.fa-external-link-alt
                                            a(href="#")
                                                i.fab.fa-github
                        .col-lg-4.col-md-6.col-12
                            .card(style='')
                                .card-image(data-value="elite")
                                    img.card-img-top(src='images/elite.PNG' alt='eliteSite')
                                .card-body
                                    h5.card-title(data-value="elite") elite corp
                                        i.fas.fa-ellipsis-v
                                    p.card-text
                                    | PSD to HTML to training in bootstrap v4
                                    .card-info.card-info-elite
                                        h3 accomplishments
                                            i.fas.fa-times
                                        ul
                                            li Bootstrap 4 in responsive design
                                            li jQuery in plugins
                                            li sass for design
                                            li pug js for structure
                                        .views
                                            a(href='https://elitecorpbootstrap.netlify.app/' target="_blank")
                                                i.fas.fa-external-link-alt
                                            a(href="#")
                                                i.fab.fa-github 
                        .col-lg-4.col-md-6.col-12
                            .card(style='')
                                .card-image(data-value="tantos")
                                    img.card-img-top(src='images/tantos.PNG' alt='tantosSite')
                                .card-body
                                    h5.card-title(data-value="tantos") tantos studio
                                        i.fas.fa-ellipsis-v
                                    p.card-text
                                    | PSD to HTML to training in jquery and java script
                                    .card-info.card-info-tantos
                                        h3 accomplishments
                                            i.fas.fa-times
                                        ul
                                            li HTML for structure
                                            li css for design
                                            li jQuery in plugins
                                        .views
                                            a(href='https://tanatosstudiotemplate.netlify.app/' target="_blank")
                                                i.fas.fa-external-link-alt
                                            a(href="#")
                                                i.fab.fa-github
                        .col-lg-4.col-md-6.col-12
                            .card(style='')
                                .card-image(data-value="restaurant")
                                    img.card-img-top(src='images/restaurant.PNG' alt='restaurantApp')
                                .card-body
                                    h5.card-title(data-value="restaurant") restaurant
                                        i.fas.fa-ellipsis-v
                                    p.card-text
                                    | training on react
                                    .card-info.card-info-restaurant
                                        h3 accomplishments
                                            i.fas.fa-times
                                        ul
                                            li JSX in Structure
                                            li React as a framework
                                            li reactstrap in responsive
                                        .views
                                            a(href='https://restaurant-react-application.netlify.app' target="_blank")
                                                i.fas.fa-external-link-alt
                                            a(href="#")
                                                i.fab.fa-github
                        .col-lg-4.col-md-6.col-12
                            .card(style='')
                                .card-image(data-value="Nuzha")
                                    img.card-img-top(src='images/Nuzha.PNG' alt='Nuzha')
                                .card-body
                                    h5.card-title(data-value="Nuzha") Nuzha Tec
                                        i.fas.fa-ellipsis-v
                                    p.card-text
                                    | Graduation Project ,, this is front end of the project,, the project is about tourist project To stimulate tourism in Egypt
                                    .card-info.card-info-Nuzha
                                        h3 accomplishments
                                            i.fas.fa-times
                                        ul
                                            li PUG JS IN Structure
                                            li SASS in design
                                            li jQuery in plugins
                                            li Gulp js as task runner
                                        .views
                                            a(href='https://nuzha-website.netlify.app/' target="_blank")
                                                i.fas.fa-external-link-alt
                                            a(href="#")
                                                i.fab.fa-github
                        .col-lg-4.col-md-6.col-12
                            .card(style='')
                                .card-image(data-value="responsive")
                                    img.card-img-top(src='images/responsive.PNG' alt='responsive site')
                                .card-body
                                    h5.card-title(data-value="responsive") Responsive website without frameworks
                                        i.fas.fa-ellipsis-v
                                    p.card-text
                                    | This is a project for making a responsive website without any using of frameworks
                                    .card-info.card-info-responsive
                                        h3 accomplishments
                                            i.fas.fa-times
                                        ul
                                            li HTML in Structure
                                            li CSS as design
                                            li media query in responsive
                                        .views
                                            a(href='https://responsive-site-without-framework.netlify.app/' target="_blank")
                                                i.fas.fa-external-link-alt
                                            a(href="#")
                                                i.fab.fa-github
                        .col-lg-4.col-md-6.col-12
                            .card(style='')
                                .card-image(data-value="e-commerce")
                                    img.card-img-top(src='images/ecommerce.jpg' alt='ecommerce')
                                .card-body
                                    h5.card-title(data-value="e-commerce") E-commerce project
                                        i.fas.fa-ellipsis-v
                                    p.card-text
                                    | This is an e-commerce Project using Node Js
                                    .card-info.card-info-e-commerce
                                        h3 accomplishments
                                            i.fas.fa-times
                                        ul
                                            li EJS as a template engine
                                            li node js as a programming language
                                            li express as framework 
                                            li mongo db as a database
                                        .views
                                            a(href="https://github.com/Abdelrahman-Fawzy/e-commerce-app-by-nodeJs" target="_blank")
                                                i.fab.fa-github
            .skills
                .section-header skills 
                .container
                    .card
                        .card-body
                            h2.card-title HTML
                            .row.text-center
                                .col.s4.m2
                                    img.responsive-img(alt='' src='images/html5.png')
                                    | HTML5
                                .col.s4.m2
                                    img.responsive-img(alt='' src='images/react.png')
                                    | JSX
                                .col.s4.m2
                                    img.responsive-img(alt='' src='images/pug.png')
                                    | Pug js
                    .card
                        .card-body
                            h2.card-title CSS
                            .row.text-center
                                .col.s4.m2
                                    img.responsive-img(alt='' src='images/css3.png')
                                    | CSS3
                                .col.s4.m2
                                    img.responsive-img(alt='' src='images/sass.png')
                                    | SASS
                                .col.s4.m2
                                    img.responsive-img(alt='' src='images/bootstrap.png')
                                    | Bootstrap
                    .card
                        .card-body
                            h2.card-title Java Script
                            .row.text-center
                                .col.s4.m2
                                    img.responsive-img(alt='' src='images/javascript.png')
                                    | Java Script
                                .col.s4.m2
                                    img.responsive-img(alt='' src='images/react.png')
                                    | React js 
                                .col.s4.m2
                                    img.responsive-img(alt='' src='images/nodejs.png')
                                    | Node js
                                .col.s4.m2
                                    img.responsive-img(alt='' src='images/jquery.png')
                                    | jQuery
                                .col.s4.m2
                                    img.responsive-img(alt='' src='images/express.png')
                                    | Express Js
                    .card
                        .card-body
                            h2.card-title Back End
                            .row.text-center
                                .col.s4.m2
                                    img.responsive-img(alt='' src='images/mongodb.png')
                                    | Mongo DB
                                .col.s4.m2
                                    img.responsive-img(alt='' src='images/sql.png')
                                    | SQL Server
                                .col.s4.m2
                                    img.responsive-img(alt='' src='images/mySql.png')
                                    | mySql
                    .card
                        .card-body
                            h2.card-title Others
                            .row.text-center
                                .col.s4.m2
                                    img.responsive-img(alt='' src='images/gulp.png')
                                    | Gulp Js
                                .col.s4.m2
                                    img.responsive-img(alt='' src='images/github.png')
                                    | Github
                                //- .col.s4.m2
                                //-     img.responsive-img(alt='' src='images/pug.png')
                                //-     | Pug
            .awards
                .section-header awards
                .container
                    .row
                        .col-sm-6
                            .card
                                .card-body
                                    h5.card-title best head award
                                    p.card-text SPE student chapter | july 2019
                                    ul
                                        li awarded from all chapter members for completing my mission of creating the web site and create the committee of IT
                        .col-sm-6
                            .card
                                .card-body
                                    h5.card-title best technical trainer award
                                    p.card-text SPE student chapter | May 2020
                                    ul
                                        li awarded from all chapter members for To prepare committee members to understand programming, website development and design
            .educations
                .section-header education
                .container
                    .row
                        .col-sm-6
                            .card
                                .card-body
                                    h5.card-title High School certificate
                                    p.card-text suez el-salam school 92%
                        .col-sm-6
                            .card
                                .card-body
                                    h5.card-title Bachelor of Computer Science
                                    p.card-text suez university faculty of computers and information
                                    ul
                                        li Grade Good
            .contacts
                .section-header contact
                .container(style="padding: 25px")
                    p
                        a(href="mailto:abdelrahmanawzy98@gmail.com" class="icon")
                            i.fas.fa-envelope
                        a(href="mailto:abdelrahmanawzy98@gmail.com" style="color:#009688") abdelrahmanawzy98@gmail.com
                    p
                        a(href="https://github.com/Abdelrahman-Fawzy" class="icon")
                            i.fab.fa-github
                        a(href="https://github.com/Abdelrahman-Fawzy" style="color:#009688") github.com/Abdelrahman-Fawzy
                    p
                        a(href="https://www.linkedin.com/in/abdelrahman-mohamed-fawzy-975949183/" class="icon")
                            i.fab.fa-linkedin-in
                        a(href="https://www.linkedin.com/in/abdelrahman-mohamed-fawzy-975949183/" style="color:#009688") linkedin.com/in/abdelrahman-fawzy
            button.toTop
                i.fas.fa-long-arrow-alt-up
        script(src="js/jquery-3.5.1.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/jquery.nicescroll.min.js")
        script(src="js/main.js") 